<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Exercise</title>
    </head>
    <body>
        <h1>Exercise</h1>

        <main>
          <h1><%= exercise.name %></h1>
          <img src="<%= exercise.image %>" alt="<%= exercise.name%>">
          <p><%= exercise.description %></p>

          <div>
            <form action="/delete" method="POST">
              <div>
                <input type="hidden" name="exerciseId" value="<%= exercise.id %>">
                <button>Delete</button>
              </div>
            </form>
          </div>
        </main>
    </body>
</html>
